/build
/build_cache
/build_tmp
/tmp_build_cache
/src/kmc/*/bin/*
/src/kmc/*/lib/*

# We don't build gandalf ourselves at this time
!/src/kmc/*/bin/gandalf
!/src/kmc/*/bin/su
# I know the above (copied su binary) is a bit hacky - BUT IT WORKS